* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 17%;
}

header, footer {
  font-family: 'Merriweather', 'Courier New', serif;
    padding: 40px;
    align-content: center;
}


#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbtns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  font-size: 250%;
  font-family: 'Merriweather', 'Courier New', serif;
  margin-top: 3px;
}

#btnBack {
  height: 30px;
  width: auto;
  padding-right: 5px;
  padding-left: 5px;
  margin: 10px;
}

/* --- Light/Dark Mode Switch --- */

.switchdiv {
  margin: 5%;
}

  /* Dark Mode */
  .dark {
    background-color:#243447;
    height: 100vh;
    color: #bebebe;
  }

  .dark a {
    color: #bebebe;
  }

  /* Light Mode */
  .light {
    background-color: #f0ead6;
    color: black;
    height: 100vh;
  }

  .light a {
    color: black;
  }

  
  /* Styling the Switch button */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    justify-content: right;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(29, 128, 210);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(29, 128, 210);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .col {
    margin: 20px;
  }

/* --- Main Posts --- */

main {
  width: 100%;
  height: 550px;
  overflow-y: scroll;
}

h2 {
  font-size: 180%;
  font-family: 'Merriweather', 'Courier New', serif;
  position: relative;
  width: 100%;
  margin-top: 15px;
  margin-left: 10px;
  padding-left: 10px;
}


#all-posts {
  display: inline-block;
  overflow-y: scroll;
  margin: 5px;
  width: 100%;
}

/* #all-posts .dark {
  background-color: #142335;
} */
 

  .post-style {
    position: relative;
    border: 3px solid #bebebe;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
  }

  .post-style h3 {
    font-size: 130%;
    font-family: 'Merriweather', 'Courier New', serif;
    padding: 0 0 5px 0;
  }

  hr {
    width: 100%;
    opacity: 25%;
    margin: 0 0 10px 0;
  }

  .post-style p {
    padding-bottom: 5px;
    font-size: 95%;
    font-family: 'Merriweather', 'Courier New', serif;
  }

  /* --- Footer --- */

footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#footer p {
  text-align: center;
  font-size: 85%;
  font-family: 'Merriweather', 'Courier New', serif;
  margin: 5px;
  color:
}